databases/
test/

data/mock_paired/1ng-25cycles-1_S38_L001_R1_001.fastq.gz
data/mock_paired/1ng-25cycles-1_S38_L001_R2_001.fastq.gz
data/mock_paired/1ng-25cycles-2_S39_L001_R1_001.fastq.gz
data/mock_paired/1ng-25cycles-2_S39_L001_R2_001.fastq.gz
data/mock_paired/1ng-25cycles-3_S40_L001_R1_001.fastq.gz
data/mock_paired/1ng-25cycles-3_S40_L001_R2_001.fastq.gz
data/mock_paired/1ng-30cycles-1_S50_L001_R1_001.fastq.gz
data/mock_paired/1ng-30cycles-1_S50_L001_R2_001.fastq.gz
data/mock_paired/1ng-30cycles-2_S51_L001_R1_001.fastq.gz
data/mock_paired/1ng-30cycles-2_S51_L001_R2_001.fastq.gz
data/mock_paired/1ng-30cycles-3_S52_L001_R1_001.fastq.gz
data/mock_paired/1ng-30cycles-3_S52_L001_R2_001.fastq.gz
data/mock_paired/20ng-20cycles-1_S14_L001_R1_001.fastq.gz
data/mock_paired/20ng-20cycles-1_S14_L001_R2_001.fastq.gz
data/mock_paired/20ng-20cycles-2_S15_L001_R1_001.fastq.gz
data/mock_paired/20ng-20cycles-2_S15_L001_R2_001.fastq.gz
data/mock_paired/20ng-20cycles-3_S16_L001_R1_001.fastq.gz
data/mock_paired/20ng-20cycles-3_S16_L001_R2_001.fastq.gz
data/mock_paired/20ng-25cycles-1_S2_L001_R1_001.fastq.gz
data/mock_paired/20ng-25cycles-1_S2_L001_R2_001.fastq.gz
data/mock_paired/20ng-25cycles-2_S3_L001_R1_001.fastq.gz
data/mock_paired/20ng-25cycles-2_S3_L001_R2_001.fastq.gz
data/mock_paired/20ng-25cycles-3_S4_L001_R1_001.fastq.gz
data/mock_paired/20ng-25cycles-3_S4_L001_R2_001.fastq.gz

# data/mycobiote_16S/IHMS1-16S.fastq.gz
data/mycobiote_16S/IHMS2-16S.fastq.gz
data/mycobiote_16S/IHMS3-16S.fastq.gz
data/mycobiote_16S/IHMS4-16S.fastq.gz
data/mycobiote_16S/IHMS5-16S.fastq.gz
data/mycobiote_16S/IHMS6-16S.fastq.gz
# data/mycobiote_16S/MOBIO1-16S.fastq.gz
data/mycobiote_16S/MOBIO2-16S.fastq.gz
data/mycobiote_16S/MOBIO3-16S.fastq.gz
data/mycobiote_16S/MOBIO4-16S.fastq.gz
data/mycobiote_16S/MOBIO5-16S.fastq.gz
data/mycobiote_16S/MOBIO6-16S.fastq.gz

# data/mycobiote_ITS/IHMS1-ITS1.fastq.gz
data/mycobiote_ITS/IHMS2-ITS1.fastq.gz
data/mycobiote_ITS/IHMS3-ITS1.fastq.gz
data/mycobiote_ITS/IHMS4-ITS1.fastq.gz
data/mycobiote_ITS/IHMS5-ITS1.fastq.gz
data/mycobiote_ITS/IHMS6-ITS1.fastq.gz
# data/mycobiote_ITS/MOBIO1-ITS1.fastq.gz
data/mycobiote_ITS/MOBIO2-ITS1.fastq.gz
data/mycobiote_ITS/MOBIO3-ITS1.fastq.gz
data/mycobiote_ITS/MOBIO4-ITS1.fastq.gz
data/mycobiote_ITS/MOBIO5-ITS1.fastq.gz
data/mycobiote_ITS/MOBIO6-ITS1.fastq.gz







